//Variaveis usadas no meu Sass
$cor-padrao: darken(#c24e4b, 10%);
$cor-auxiliar: lighten(#1e2c35, 0%);
$cor-branca: #fff;
$raio-grande:50px;


$ponto-de-quebra:980px;

$mq-mobile: "(max-width:980px)";
//darken = deixa a cor mais escura
//lighten = deixa a cor mais clara
//saturate = deixa a cor mais saturada; 